.container {
	height: 100%;
}

.paper {
	width: 250px;
	margin: auto;
	text-align: center;
	padding: 20px 30px;
	position: relative;
	top: 10%;
}

.form {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 20px;
	margin-bottom: 10px;
}
